In [26]:
import pandas as pd
import numpy as np

reactivePower=pd.read_csv('R3_12_47_1_AMI_residential_phase12_reactive_power.csv',skiprows=8)
realPower=pd.read_csv('R3_12_47_1_AMI_residential_phase12_real_power.csv',skiprows=8)

a=realPower.shape
a
type(a)
a[0]

realPower.head(5)

a=realPower.index

aa=realPower.ix[:,0:1]

type(aa)

type(aa[:1])

Create 15 minute interval of datetime array to retrive from the original data if it has minute by minute interval data

In [31]:
def dateArray15mins(data_array):
    from datetime import datetime, timedelta

    def datetime_range(start, end, delta):
        current = start
        while current < end:
            yield current
            current += delta

    dts = [dt.strftime('%Y-%m-%dT%H:%M:%S') for dt in 
           datetime_range((np.datetime64(data_array[1,0]).astype(datetime)),
                          (np.datetime64(data_array[len(data_array)-1,0]).astype(datetime)),
                          timedelta(minutes=15))]
    return dts

#d=dts[1]
#np.datetime64(d)

In [32]:
def ind15mins(data_array):
    ind=[0]
    ind.extend((np.arange(1,len(data_array),15)).tolist())
    new_array=data_array[ind,:]
    return new_array

In [35]:
newReactiveVoltage=ind15mins(reactiveVoltage)
newRealVoltage=ind15mins(realVoltage)

#d=dateArray15mins(realVdataArray)

In [174]:
rT=pd.DataFrame.transpose(reactivePower)
aa=rT.unstack()

In [251]:
realPower['2013-07-01 00']

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-07-01 00:15:00,205.339724,205.334689,138.543737,200.350553,131.729988,202.221428,142.890566,307.401462,182.122934,247.544630,...,242.291418,227.750556,252.362746,242.642725,280.125861,243.708437,186.060236,309.673926,252.147617,261.194620
2013-07-01 00:30:00,503.587586,205.329650,138.526331,168.547274,131.725769,202.196619,142.887046,295.194454,182.118396,212.897516,...,242.261576,227.790250,246.610827,242.635082,221.001409,217.072895,186.041403,309.726639,229.971185,255.013213
2013-07-01 00:45:00,486.062104,205.464421,130.265434,168.568571,131.812387,202.081852,142.985282,246.568715,174.515431,212.779126,...,196.512125,208.927300,246.652897,217.770129,221.151961,216.943040,185.930111,309.774297,230.122817,234.665461

In [252]:
realPower.resample('30T').sum()

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,205.339724,205.334689,138.543737,200.350553,131.729988,202.221428,142.890566,307.401462,182.122934,247.544630,...,242.291418,227.750556,252.362746,242.642725,280.125861,243.708437,186.060236,309.673926,252.147617,261.194620
2013-07-01 00:30:00,989.649690,410.794071,268.791765,337.115845,263.538156,404.278471,285.872328,541.763169,356.633827,425.676642,...,438.773701,436.717550,493.263724,460.405211,442.153370,434.015935,371.971514,619.500936,460.094002,489.678674
2013-07-01 01:00:00,923.005648,375.898164,251.087306,331.775881,242.810853,349.712338,276.174391,493.959415,331.917782,350.801321,...,393.103505,410.884841,446.049306,378.956412,441.411213,422.330412,351.775048,530.991349,448.284008,469.407590
2013-07-01 01:30:00,459.366546,184.499893,125.724715,500.111244,119.359589,160.416704,135.204465,236.290499,166.069185,169.044663,...,196.831712,204.754759,194.283414,189.614063,197.292803,195.458704,175.421200,246.034329,209.461800,231.897850

In [267]:
realPower.resample('30T').mean()#,how='mean')

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,102.669862,102.667344,69.271868,100.175276,65.864994,101.110714,71.445283,153.700731,91.061467,123.772315,...,121.145709,113.875278,126.181373,121.321363,140.062930,121.854219,93.030118,154.836963,126.073808,130.597310
2013-07-01 00:30:00,494.824845,205.397035,134.395882,168.557922,131.769078,202.139235,142.936164,270.881585,178.316913,212.838321,...,219.386850,218.358775,246.631862,230.202606,221.076685,217.007968,185.985757,309.750468,230.047001,244.839337
2013-07-01 01:00:00,461.502824,187.949082,125.543653,165.887941,121.405427,174.856169,138.087196,246.979708,165.958891,175.400661,...,196.551753,205.442420,223.024653,189.478206,220.705606,211.165206,175.887524,265.495675,224.142004,234.703795
2013-07-01 01:30:00,459.366546,184.499893,125.724715,500.111244,119.359589,160.416704,135.204465,236.290499,166.069185,169.044663,...,196.831712,204.754759,194.283414,189.614063,197.292803,195.458704,175.421200,246.034329,209.461800,231.897850

In [193]:
import csv
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as pyplot

Function to convert CSV files to pandas DataFrame. Discarding the description sentences on top of each file

In [211]:
def csv2array(fileName):
    newdata=[]
    with open(fileName,'r') as fileData:
        rowData = csv.reader(fileData, 
                           delimiter = ',', 
                           quotechar = '"')
        for data in rowData:
            if len(data)>2:
                newdata.append(data)
                type(data)
    data_array = np.asarray(newdata)
    return convertDateTime(data_array)

Fist Column of the array is datetime with 'PST' extension. This function strips timezone and converts it into numpy datetime64 format

In [288]:
def convertDateTime(data_array):
    firstCol=data_array[1:,0]
    stripFirstCol=[ele.rstrip(' PST') for ele in firstCol]
    dateTimeFirstCol=[np.datetime64(ele) for ele in stripFirstCol]
    data_array[1:,0]=dateTimeFirstCol
    data_frame=pd.DataFrame(data_array.reshape(len(data_array),-1))
    
    data_frame.index=data_frame[0]
    data_frame=data_frame.drop(data_frame.columns[0],axis=1)


    data_frame.columns=data_frame.iloc[0]
    data_frame=data_frame.drop(data_frame.index[0])
    
    data_frame=data_frame.astype(str).astype(float)
    data_frame.index=pd.to_datetime(data_frame.index)
    data_frame=data_frame.resample('15T').mean()
    return data_frame

In [289]:
reactivePfile='R3_12_47_1_AMI_residential_phase12_reactive_power.csv'
realPfile='R3_12_47_1_AMI_residential_phase12_real_power.csv'
reactiveVfile='R3_12_47_1_AMI_residential_phase12_reactive_voltage.csv'
realVfile='R3_12_47_1_AMI_residential_phase12_real_voltage.csv'

In [290]:
reactivePower=csv2array(reactivePfile)
realPower=csv2array(realPfile)

reactiveVoltage=csv2array(reactiveVfile)
realVoltage=csv2array(realVfile)

In [298]:
apparentVoltage=((realVoltage**2)+(reactiveVoltage**2))**0.5
apparentPower=((realPower**2)+(reactivePower**2))**0.5
independentVariable=apparentVoltage/240

In [301]:
apparentVoltage

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-07-01 00:15:00,249.059619,250.307311,250.057193,249.099662,250.364486,250.068547,250.328679,250.328679,250.328679,249.963367,...,250.649991,249.347527,249.347527,250.574583,250.574583,250.290312,250.290312,249.312034,250.566133,250.264010
2013-07-01 00:30:00,249.048013,250.299927,250.019406,249.173701,250.354828,250.031658,250.320739,250.320739,250.320739,250.025136,...,250.612934,249.400109,249.400109,250.557096,250.557096,250.258250,250.258250,249.363693,250.547087,250.229903
2013-07-01 00:45:00,249.092282,250.499347,249.851317,249.212045,250.554626,249.859202,250.527155,250.527155,250.527155,249.856183,...,250.436596,249.449815,249.449815,250.761445,250.761445,250.076440,250.076440,249.410396,250.747476,250.055210
2013-07-01 01:00:00,248.573438,250.948738,249.844528,248.683627,251.000607,249.854970,250.972132,250.972132,250.972132,249.854376,...,250.439013,248.919909,248.919909,251.198291,251.198291,250.075118,250.075118,248.888818,251.179800,250.052404
2013-07-01 01:15:00,247.921176,251.071637,249.936414,248.033672,251.120943,249.956396,251.092014,251.092014,251.092014,249.950969,...,250.556749,248.274994,248.274994,251.324197,251.324197,250.182045,250.182045,248.249778,251.309905,250.157257
2013-07-01 01:30:00,247.225714,251.210985,250.328330,247.245256,251.261629,250.347152,251.233942,251.233942,251.233942,250.341737,...,250.930646,247.580443,247.580443,251.476879,251.476879,250.566625,250.566625,247.554407,251.461972,250.541331

In [302]:
apparentPower

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-07-01 00:15:00,844.654758,844.634048,569.892783,824.132053,541.864764,831.827804,587.773249,1264.480651,749.153647,4369.939902,...,996.653719,936.840604,1038.081624,998.098804,1152.283821,1002.482555,765.349541,1273.828321,1037.196704,1074.411100
2013-07-01 00:30:00,1745.418421,844.613319,569.821184,693.310842,541.847409,831.725754,587.758771,1214.267730,749.134979,875.743362,...,996.530966,937.003883,1014.421394,998.067362,909.078322,892.918574,765.272073,1274.045151,945.975051,1048.984191
2013-07-01 00:45:00,1673.353844,845.167696,535.840394,693.398447,542.203709,831.253665,588.162859,1014.248168,717.860561,875.256369,...,808.342867,859.412075,1014.594444,895.786612,909.697611,892.384422,764.814280,1274.241192,946.598782,965.284724
2013-07-01 01:00:00,1576.415278,787.654851,516.339470,692.191740,508.037640,779.506295,580.132977,1015.737788,682.529050,748.540747,...,808.349295,845.973449,1012.825336,779.247702,911.014374,892.381905,726.336739,1169.831102,947.945290,965.275810
2013-07-01 01:15:00,1572.972173,758.583584,516.495698,672.551870,490.752747,659.018044,555.896666,1016.139741,682.798266,694.463070,...,808.662456,844.180943,821.976338,779.570682,904.708731,844.853273,720.672454,1014.375449,896.048719,965.609007
2013-07-01 01:30:00,1568.660916,758.931151,517.162373,2057.182770,490.979744,659.866147,556.156853,971.969237,683.117345,695.356827,...,809.657475,842.248535,799.175175,779.968032,811.554149,804.009673,721.586395,1012.049996,861.610716,953.900293

In [303]:
independentVariable

# timestamp,tpm0_R3-12-47-1_tm_3_R3-12-47-1_tn_411,tpm0_R3-12-47-1_tm_4_R3-12-47-1_tn_412,tpm0_R3-12-47-1_tm_5_R3-12-47-1_tn_413,tpm0_R3-12-47-1_tm_6_R3-12-47-1_tn_414,tpm0_R3-12-47-1_tm_7_R3-12-47-1_tn_415,tpm0_R3-12-47-1_tm_8_R3-12-47-1_tn_416,tpm0_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm1_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm2_R3-12-47-1_tm_10_R3-12-47-1_tn_418,tpm0_R3-12-47-1_tm_11_R3-12-47-1_tn_419,...,tpm0_R3-12-47-1_tm_396_R3-12-47-1_tn_804,tpm0_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm1_R3-12-47-1_tm_397_R3-12-47-1_tn_805,tpm0_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm1_R3-12-47-1_tm_398_R3-12-47-1_tn_806,tpm0_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm1_R3-12-47-1_tm_399_R3-12-47-1_tn_807,tpm0_R3-12-47-1_tm_400_R3-12-47-1_tn_808,tpm0_R3-12-47-1_tm_401_R3-12-47-1_tn_809,tpm0_R3-12-47-1_tm_402_R3-12-47-1_tn_810
0,,,,,,,,,,,,,,,,,,,,,
2013-07-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-07-01 00:15:00,1.037748,1.042947,1.041905,1.037915,1.043185,1.041952,1.043036,1.043036,1.043036,1.041514,...,1.044375,1.038948,1.038948,1.044061,1.044061,1.042876,1.042876,1.038800,1.044026,1.042767
2013-07-01 00:30:00,1.037700,1.042916,1.041748,1.038224,1.043145,1.041799,1.043003,1.043003,1.043003,1.041771,...,1.044221,1.039167,1.039167,1.043988,1.043988,1.042743,1.042743,1.039015,1.043946,1.042625
2013-07-01 00:45:00,1.037885,1.043747,1.041047,1.038384,1.043978,1.041080,1.043863,1.043863,1.043863,1.041067,...,1.043486,1.039374,1.039374,1.044839,1.044839,1.041985,1.041985,1.039210,1.044781,1.041897
2013-07-01 01:00:00,1.035723,1.045620,1.041019,1.036182,1.045836,1.041062,1.045717,1.045717,1.045717,1.041060,...,1.043496,1.037166,1.037166,1.046660,1.046660,1.041980,1.041980,1.037037,1.046582,1.041885
2013-07-01 01:15:00,1.033005,1.046132,1.041402,1.033474,1.046337,1.041485,1.046217,1.046217,1.046217,1.041462,...,1.043986,1.034479,1.034479,1.047184,1.047184,1.042425,1.042425,1.034374,1.047125,1.042322
2013-07-01 01:30:00,1.030107,1.046712,1.043035,1.030189,1.046923,1.043113,1.046808,1.046808,1.046808,1.043091,...,1.045544,1.031585,1.031585,1.047820,1.047820,1.044028,1.044028,1.031477,1.047758,1.043922